*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-itens{
    background-color: rgba(255,160,132,0.7);
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.logo .logo-img{
    position:relative;
    margin: 0;
    width: 9vw;
}

.nav-itens ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-itens ul li{
    margin-right: 25px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
}

.container-car-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    background-color: 	#F0FFF0;
}

.img-and-info{
    display: flex;
    flex-wrap: wrap;
}

.img-container{
    padding: 10px;
}


.car-imgs{
    width: 20vh;
    border: 2px solid;
    border-radius: 20%;
}

.car-imgs:hover{
    transform: scale(2);
    transition: ease-in-out 1s;
}

.car-info-container{
    padding: 10px;
    width: 15vw;
    text-align: justify;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: rgba(255,160,132,0.7);
}

@media (max-width:1025px){
    .nav-itens .logo .logo-img{
        width: 20vw;
    }
}





@media (max-width:480px) {
    .nav-itens{
        height: 15vh;
        align-items: center;
    }
    
    .nav-itens .logo .logo-img{
        width: 21vh;
    }

    .nav-itens ul{
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin: 0;
    }
    
    .nav-itens ul li{
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.1rem;
    }

    .car-info-container{
        font-size: 0.7rem;
        width: 40%;
    }

    .car-imgs:hover{
        transform: scale(1.2);
    }

    #copyright-text{
        font-size: 0.8rem;
    }
}